@import "../base/variables";
.calendar__table{
  td.day{
    max-width:35px;
    text-align: center;
    //padding: 0;
  }
  th{
    height: 30px;
    font-size: 14px;
    position: relative;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
    &.last{
      .custom-border{
        display: none;
      }
    }
    .time{
      position: absolute;
      width: 40px;

    }

    .custom-border{
      position: absolute;
      height: 100%;
      width:2px;
      background: @lighten_grey;
      bottom: -2px;
      right: -2px;
      z-index: 1;
      &.half{
        height: 50%;
      }
    }
  }
  .day{
    padding-right: 10px;
  }
 td.calendar__cell{
    width: 35px;
    height: 30px;
    background: @darken_grey;
    cursor: pointer;
    &:hover {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      outline: 2px solid @base_blue ;
      //border-radius: 5px;

      z-index: 100;
    }
    &.half-time{
      width: 15px;
    }
    &.active {
      background: @base_blue;
      transition:  background-color 500ms ease-in;
    }
  }

}
