@import "variables";

.control-button {
  border-radius: 50px;
  background: transparent;
  border: 1px solid @border_grey;
  padding: 10px 30px;
  cursor: pointer;
  outline: none;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  max-width: 300px;

  &.active {
    background: @base_blue;
    color: @base_white;
  }

  &.calendar-button {
    .button-icon {
      svg {
        margin-left: -20px;
        margin-right: 10px;
      }
    }

    &.auto-fill {
      i {
        color: @base_green;
        font-size: 22px;
        float: left;
        text-align: left;
      }
    }

    &.auto-clear {
      i {
        color: @base_red;
      }
    }
  }
}
